<!doctype html>
<html data-bs-theme="auto" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div>
    <h4 class="mt-5 text-center">Add Event</h4>
</div>

<div th:if="${param.success}">
    <div class="row">
        <div class="col"></div>
        <div class="alert alert-info text-center col-5">
            You have successfully saved your Event!
        </div>
        <div class="col"></div>
    </div>
</div>

<form method="post" role="form" th:action="@{/add-event/save}" th:object="${eventDto}">
    <div class="container mt-3">
        <div class="row">
            <div class="col"></div>

            <div class="rounded border col-5">
                <div class="mt-3">
                    <label class="form-label" for="title">Event title</label>
                    <input class="form-control" id="title" th:field="*{title}" type="text">
                    <p class="text-danger" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Enter description"
                              rows="7" style="height:100%"
                              th:field="*{description}"></textarea>
                    <p class="text-danger" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></p>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="start">Start</label>
                    <input class="form-control" id="start" th:field="*{start}" type="date">
                    <p class="text-danger" th:errors="*{start}" th:if="${#fields.hasErrors('start')}"></p>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="end">End</label>
                    <input class="form-control" id="end" th:field="*{end}" type="date">
                    <p class="text-danger" th:errors="*{end}" th:if="${#fields.hasErrors('end')}"></p>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="link">Event picture url</label>
                    <input class="form-control" id="link" name="link" th:field="*{imageUrl}" type="text">
                </div>
                <div class="mt-2 mb-3">
                    <button class="btn btn-outline-success" type="submit" value="Upload">Add Event</button>
                </div>
            </div>

            <div class="col"></div>
        </div>
    </div>
</form>

<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div class="mt-auto" th:insert="~{fragments/footer.html}"></div>
</body>
</html>