<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div>
    <h4 class="mt-5 text-center">Event API</h4>
</div>

<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
        <div class="list-group">
            <div class="card mb-3">
                <div class="card-header">
                    <a class="nav-link px-2" aria-current="page">Future Events</a>
                </div>
                <div class="card-body">
                    <small class="text-nowrap">Please use link below to get all future events</small><br>
                    <small class="mb-0"><code th:text="${baseUrl} + 'api/future'"/></small>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <a class="nav-link px-2" aria-current="page">How to make an API call with custom time range</a>
                </div>
                <div class="card-body">
                    <small class="text-nowrap">Api Call:</small><br>
                    <small class="mb-0"><code th:text="${baseUrl} + 'api/filtered?start={start}&end={end}'"/></small>
                    <br><br>
                    <small class="text-nowrap">Required: <code>start, end</code></small><br>
                    <small class="text-nowrap">The date string format: <code>yyyy-MM-dd</code></small><br>
                    <small class="text-nowrap">Example of API call: </small><br>
                    <small class="mb-0">
                        <code th:text="${baseUrl} + 'api/filtered?start=2023-01-01&end=2023-12-01'"></code></small>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div th:insert="~{fragments/footer.html}" class="mt-auto"></div>
</body>
</html>