<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-9">
            <div class="card-header mb-2">
                <h5 class="card-title mb-2" th:text="${eventDto.title}"></h5>
                <div th:unless="${eventDto.imageUrl.length()} == 0">
                    <img th:src="${eventDto.imageUrl}" src="" height="300px" alt=""/>
                </div>
            </div>
            <div class="card-body">
                <small class="opacity-50 text-nowrap" th:text="${eventDto.start}">now</small>
                <small class="opacity-50 text-nowrap">-</small>
                <small class="opacity-50 text-nowrap" th:text="${eventDto.end}">now</small>
                <p class="mb-0 opacity-75" th:text="${eventDto.description}"></p>
                <small class="opacity-50 text-nowrap"
                       th:text="'Organized by ' + ${eventDto.user.getName()}"></small>
                <div class="d-flex">
                    <div th:if="${eventDto.user.getEmail()} == ${#authentication.getName()}">
                        <a th:href="'/event/' + ${eventDto.id} + '/edit'" type="button"
                           class="btn btn-outline-success me-2">Update</a>
                    </div>
                    <div class="ml-2" th:if="${eventDto.user.getEmail()} == ${#authentication.getName()}">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <form method="post" th:action="'/event/' + ${eventDto.id} + '/delete'">
                                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container ml-2" sec:authorize="hasRole('USER')">
                        <form method="post" role="form" th:object="${signupDto}">
                            <button th:unless="true == ${isJoined}" type="submit"
                                    class="btn btn-outline-success float-end"
                                    name="signup">Sign up
                            </button>
                        </form>
                        <button th:if="true == ${isJoined}" class="btn btn-outline-success float-end" disabled>Already
                            joined
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <p class="fw-bold text-center">Already joined</p>
            <div class="card md-auto mb-1" th:each="user : ${signupUsers}">
                <div class="card-body">
                    <p class="mb-0 opacity-75 text-center" th:text="${user.getUserEmail()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2" sec:authorize="hasRole('USER')">
    <div class="row">
        <div class="col-6">
            <form method="post" role="form">
                <div class="mb-3">
                    <label for="commentContent" class="form-label"></label>
                    <textarea class="form-control" id="commentContent" rows="3"
                              th:field="${commentDto.commentContent}"></textarea>
                    <p class="text-danger" th:errors="${commentDto.commentContent}"></p>
                </div>
                <button type="submit" class="btn btn-outline-success float-end" name="comment">Add Comment</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <p class="fw-bold text-center">Comments</p>
            <div class="card md-auto mb-1" th:each="comment : ${comments}">
                <div class="card-body">
                    <p class="mb-0 opacity-75" th:text="${comment}"></p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div th:insert="~{fragments/footer.html}" class="mt-auto"></div>
</body>
</html>
