<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-9">
            <div class="card-header mb-2">
                <h5 class="card-title mb-2" th:text="${eventDto.title}"></h5>
                <div th:unless="${eventDto.imageUrl.length()} == 0">
                    <img th:src="${eventDto.imageUrl}" src="" height="300px" alt=""/>
                </div>
            </div>
            <div class="card-body">
                <small class="opacity-50 text-nowrap" th:text="${eventDto.start}">now</small>
                <small class="opacity-50 text-nowrap">-</small>
                <small class="opacity-50 text-nowrap" th:text="${eventDto.end}">now</small>
                <p class="mb-0 opacity-75" th:text="${eventDto.description}"></p>
                <small class="opacity-50 text-nowrap"
                       th:text="'Organized by ' + ${eventDto.user.getName()}"></small>
            </div>
            <div class="container mt-2" sec:authorize="hasRole('USER')">

            </div>
        </div>
        <div class="col-md-auto">
        </div>
    </div>
</div>

<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div th:insert="~{fragments/footer.html}" class="mt-auto"></div>
</body>
</html>