<!doctype html>
<html data-bs-theme="auto" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div>
    <h4 class="mt-5 text-center">Edit Event</h4>
</div>

<div sec:authorize="!hasRole('ORGANIZER')">
    <h5 class="mt-5 text-center">You are not an organizer!</h5>
</div>

<div sec:authorize="hasRole('ORGANIZER')">
    <form method="post" role="form">
        <div class="container mt-3">
            <div class="row">
                <div class="col"></div>

                <div class="rounded border col-5">
                    <div class="mt-3">
                        <label class="form-label" for="title">Event title</label>
                        <input class="form-control" id="title" name="title" readonly th:value="${eventDto.title}"
                               type="text">
                        <p class="text-danger" th:errors="${eventDto.title}"
                           th:if="${#fields.hasErrors('eventDto.title')}"></p>
                    </div>
                    <div class="mt-2">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" placeholder="Enter description"
                                  rows="7" style="height:100%"
                                  th:text="${eventDto.description}"/>
                        <p class="text-danger" th:errors="${eventDto.description}"
                           th:if="${#fields.hasErrors('eventDto.description')}"></p>
                    </div>
                    <div class="mt-2">
                        <label class="form-label" for="start">Start</label>
                        <input class="form-control" id="start" name="start" th:value="${eventDto.start}"
                               type="date">
                        <p class="text-danger" th:errors="${eventDto.start}"
                           th:if="${#fields.hasErrors('eventDto.start')}"></p>
                    </div>
                    <div class="mt-2">
                        <label class="form-label" for="end">End</label>
                        <input class="form-control" id="end" name="end" th:value="${eventDto.end}"
                               type="date">
                    </div>
                    <div class="mt-2">
                        <label class="form-label" for="link">Event picture url</label>
                        <input class="form-control" id="link" name="imageUrl" th:value="${eventDto.imageUrl}"
                               type="text">
                    </div>
                    <div class="mt-2 mb-3">
                        <button class="btn btn-outline-success" type="submit" value="Upload">Update Event</button>
                    </div>
                </div>

                <div class="col"></div>
            </div>
        </div>
    </form>
</div>
<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div class="mt-auto" th:insert="~{fragments/footer.html}"></div>
</body>
</html>