<!doctype html>
<html data-bs-theme="auto" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div>
    <h4 class="mt-5 text-center">Login</h4>
</div>

<div th:if="${param.error}">
    <div class="row">
        <div class="col"></div>
        <div class="alert alert-danger text-center col-5">Invalid Email or Password</div>
        <div class="col"></div>
    </div>
</div>
<div th:if="${param.logout}">
    <div class="row">
        <div class="col"></div>
        <div class="alert alert-success text-center col-5">You have been logged out.</div>
        <div class="col"></div>
    </div>
</div>

<form method="post" role="form" th:action="@{/login}">
    <div class="container mt-3">
        <div class="row">
            <div class="col"></div>

            <div class="rounded border col-5">
                <div class="mt-3">
                    <label class="form-label" for="username">Email</label>
                    <input class="form-control" id="username" name="username" type="email"/>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password"/>
                </div>
                <div class="mt-2 mb-3">
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                </div>
            </div>

            <div class="col"></div>
        </div>
    </div>
</form>

<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div class="mt-auto" th:insert="~{fragments/footer.html}"></div>
</body>
</html>
