<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <div>
                <h4 class="mt-5 text-center">My Events</h4>
            </div>
            <table
                    id="table"
                    data-toggle="table"
                    data-sort-class="table-active"
                    data-sortable="true"
                    data-search="true">
                <thead>
                <tr>
                    <th data-field="title" data-sortable="true">Title</th>
                    <th data-field="start" data-sortable="true">Start</th>
                    <th data-field="end" data-sortable="true">End</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="eventDto : ${myEvents}">
                    <td th:text="${eventDto.title}"></td>
                    <td th:text="${eventDto.start}"></td>
                    <td th:text="${eventDto.end}"></td>
                    <td class="d-flex ml-2" th:if="${eventDto.user.getEmail()} == ${#authentication.getName()}">
                        <a th:href="'/event/' + ${eventDto.id} + '/edit'" type="button"
                           class="btn btn-outline-success me-2">Update</a>
                        <!-- Button trigger modal -->
                        <form method="post" th:action="'/event/' + ${eventDto.id} + '/delete'">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div>
                <h4 class="mt-5 text-center">My subscriptions</h4>
            </div>
            <table
                    id="table2"
                    data-toggle="table"
                    data-sort-class="table-active"
                    data-sortable="true"
                    data-search="true">
                <thead>
                <tr>
                    <th data-field="title" data-sortable="true">Title</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="eventDto : ${mySigns}">
                    <td th:text="${eventDto.title}"></td>
                    <td>
                        <form method="post" th:action="'/my-events/' + ${eventDto.id} + '/delete'">
                            <button type="submit" class="btn btn-outline-danger">UnSign</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div th:insert="~{fragments/footer.html}" class="mt-auto"></div>
</body>
</html>