<!doctype html>
<html data-bs-theme="auto" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div>
    <h4 class="mt-5 text-center">Registration</h4>
</div>

<div th:if="${param.success}">
    <div class="row">
        <div class="col"></div>
        <div class="alert alert-info text-center rounded border col-5">
            You have successfully registered!
        </div>
        <div class="col"></div>
    </div>
</div>
<form method="post" role="form" th:action="@{/register/save}" th:object="${userDto}">
    <div class="container mt-3">
        <div class="row">
            <div class="col"></div>

            <div class="rounded border col-5">
                <div class="mt-3">
                    <label class="form-label" for="userName">User Name</label>
                    <input class="form-control" id="userName" th:field="*{name}" type="text">
                    <p class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="email">Email address</label>
                    <input class="form-control" id="email" th:field="*{email}" type="email">
                    <p class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" id="password" th:field="*{password}" type="password">
                    <p class="text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="password2">Repeat password</label>
                    <input class="form-control" id="password2" th:field="*{password2}" type="password">
                    <p class="text-danger" th:errors="*{password2}" th:if="${#fields.hasErrors('password2')}"></p>
                </div>
                <div class="mt-2">
                    <input class="form-check-input" id="organizer" th:field="*{role}" th:value="ORGANIZER"
                           type="checkbox">
                    <label class="form-check-label" for="organizer">I am an Organizer</label>
                </div>
                <div class="mt-2 mb-3">
                    <button class="btn btn-outline-success" type="submit">Register</button>
                </div>
            </div>

            <div class="col"></div>
        </div>
    </div>
</form>

<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div class="mt-auto" th:insert="~{fragments/footer.html}"></div>
</body>
</html>
