<!doctype html>
<html data-bs-theme="auto" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html}"></div>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navigation.html}"></div>

<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
        <form class="mr-2 mt-3" method="post" role="search" th:action="@{/search}" th:object="${search}">
            <label class="form-label">
                <input class="form-control" name="keyword" th:field="*{keyword}" type="text"/>
            </label>
            <label>
                <select class="form-select form-select" name="filter" th:field="*{filter}">
                    <option value="1">Future</option>
                    <option value="2">Ongoing and Future</option>
                    <option value="3">All</option>
                </select>
            </label>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<div>
    <h4 class="mt-5 text-center">Search results</h4>
</div>

<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
        <div class="list-group">
            <div class="card mb-2" th:each="event : ${eventsDto}">
                <div class="card-header">
                    <a aria-current="page" class="nav-link px-2" th:href="'/event/' + ${event.id}"
                       th:text="${event.title}"></a>
                </div>
                <div class="card-body">
                    <small class="opacity-50 text-nowrap" th:text="${event.start}">now</small>
                    <small class="opacity-50 text-nowrap">-</small>
                    <small class="opacity-50 text-nowrap" th:text="${event.end}">now</small>
                    <p class="mb-0 opacity-75" th:text="${event.shortDescription}"></p>
                    <small class="opacity-50 text-nowrap"
                           th:text="'Organized by ' + ${event.user.getName()}"></small>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragments/color-modes.html}"></div>
<div th:insert="~{fragments/scripts.html}"></div>
<div class="mt-auto" th:insert="~{fragments/footer.html}"></div>
</body>
</html>
